<table width="600" cellspacing="0" cellpadding="0" align="center" style="font:normal 12px Arial,Helvetica,sans-serif;border:solid 4px #006599;border-top:none">
  <tbody><tr>
    <td valign="top"><table width="592" cellspacing="0" cellpadding="0" border="0">
      <tbody><tr>
        <td width="452" height="41" style="font:normal 20px Arial,Helvetica,sans-serif;color:#FFF;padding:0px 13px;background-color:#006599;"><strong>${subject}</strong></td>
        <td width="140" valign="top" align="right" style="font:normal 20px Arial,Helvetica,sans-serif;color:#000;background-color:#006599;" >&nbsp;</td>
      </tr>
    </tbody></table>
<table width="96%" cellspacing="0" cellpadding="0" border="0" style="margin:13px;background:URL('${emailScheduler.passwordResetURL}/images/passwordLock.png') right center no-repeat">
  <tbody><tr>
    <td>
    	<p style="margin:0px;padding:0 0 12px;font-weight:bold;color:#ff6600">Dear ${emailScheduler.userName},</p>
		<p style="margin:0px;padding:0 0 12px;color:#333333"><a data-saferedirecturl="${emailScheduler.passwordResetURL}GeneratePassword/${emailScheduler.screenName}" target="_blank" style="color:#34b4bd;font-weight:bold" href="${emailScheduler.passwordResetURL}GeneratePassword/${emailScheduler.screenName}">Click here to reset password for your KDIC BI Vision account</a></p>
        <p style="margin:0px;padding:0 0 12px;color:#333333"><strong>Note</strong>: This link will be valid for ${emailScheduler.pwdResetTime} hours. </p>
        <p style="margin:0px;padding:0 0 12px;color:#333333">For any queries or assistance, please contact us at <a target="_blank" style="color:#34b4bd;text-decoration:none;font-weight:bold" href="mailto:${supportMailId}">${supportMailId}</a></p>
        <p style="margin:0px;padding:0 0 0px;color:#333333">Yours, <br>
        <p style="margin:0px;padding:0 0 0px;color:#333333">Vision Support Team<br>
        </p>       
    </td>
  </tr>
</tbody></table>
	</td>
  </tr>
</tbody></table>